@font-face {
  font-family: 'gothambold1';
  src: local("gothambold1"), url("fonts/gothambold1.eot") format(eot), url("fonts/gothambold1.woff") format("woff"), url("fonts/gothambold1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: local("GothamBook"), url("fonts/GothamBook.eot") format(eot), url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gothambold1';
  src: local("gothambold1"), url("fonts/gothambold1.eot") format(eot), url("fonts/gothambold1.woff") format("woff"), url("fonts/gothambold1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: local("GothamBook"), url("fonts/GothamBook.eot") format(eot), url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1600px;
  width: 100%;
  height: auto;
  font-family: 'Open Sans', 'Josefin Sans', sans-serif;
}

.header__introd {
  background-image: url(../img/header/bg.png);
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  padding: 55px calc(25vw - 200px);
}

.header__introd__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__introd__slider {
  margin: 250px 0 200px;
  text-align: center;
}

.header__introd__slider__title {
  margin-bottom: 35px;
  font-family: "gothambold1";
  color: #fff;
  font-size: 80px;
}

.header__introd__slider__text {
  font-family: "GothamBook";
  color: #fff;
  font-size: 14px;
  font-size: 18px;
}

.label {
  margin-right: 80px;
}

.icons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__net {
  margin-right: 20px;
}

.navigaciya {
  margin-top: 25px;
}

.navigaciya__spicok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigaciya__spicok__item {
  margin-right: 60px;
  font-family: "GothamBook";
  color: #fff;
  font-size: 14px;
}

.scroll {
  text-align: center;
}

.main__part__wedoTitle, .main__part__newsTitle {
  margin: 100px 0 100px;
  text-align: center;
  font-family: "gothambold1";
  color: #000;
  font-size: 42px;
}

.main__part__newsTitle {
  color: #fff;
}

.wedo__trade {
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wedo__commerce {
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wedo__text {
  margin-left: 75px;
}

.wedo__text__heading {
  margin-top: 40px;
  font-family: "GothamBook";
  color: #000;
  font-size: 22px;
}

.wedo__text__titleinside {
  margin-top: 20px;
  font-family: "gothambold1";
  color: #000;
  font-size: 42px;
}

.wedo__text__textinside {
  margin: 20px 0 20px 0;
  font-size: 16px;
}

.article {
  width: 100%;
  max-width: 460px;
}

.wedo__photoBlue {
  width: 40%;
  position: absolute;
  top: -70px;
  left: -120px;
  z-index: -1;
}

.wedo__photoBlue__blue {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.wedo__photoPic {
  width: 40%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.wedo__photoPic__picture {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.build {
  margin-left: 145px;
}

.wedo__photoP {
  width: 40%;
  position: absolute;
  top: -70px;
  right: -120px;
  z-index: -1;
}

.wedo__photoP__purple {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.btn {
  height: 50px;
  width: 180px;
}

.news {
  background-image: url(../img/news/bgnews.png);
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  padding: 55px calc(25vw - 200px);
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.news__content__text {
  padding: 20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__heading {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: "gothambold1";
  color: #000;
  font-size: 42px;
  font-size: 22px;
}

.text__text {
  font-size: 18px;
  color: #7b818a;
}

.person {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__info {
  margin: 5px 20px;
  display: block;
  font-family: "GothamBook";
  color: #000;
  font-size: 22px;
}

.person__info__name {
  font-size: 18px;
}

.person__info__date {
  margin-top: 10px;
  font-size: 14px;
  color: #55b7ff;
}
/*# sourceMappingURL=style.css.map */