@mixin btnStyle($btn_font_family) {
    font-family: $btn_font_family;
    color: #fff; 
    font-size: 14px;
  }
@mixin btnStyleText($btn_font_family) {
    font-family: $btn_font_family;
    color: #000; 
    font-size: 22px;
  }
@mixin btnStyleBold($btn_font_family_bold) {
    font-family: $btn_font_family_bold;
    color: #fff; 
    font-size: 80px;
   }
@mixin titleBold($btn_font_family_bold) {
    font-family: $btn_font_family_bold;
    color: #000; 
    font-size: 42px;
  }
  @mixin btnShine {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, #f3d0e7de, #f3239c80 50%, #c3e01b00);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
 }

