@import '_fonts.scss';
@import '_vars.scss';
@import '_mixin.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', 'Josefin Sans', sans-serif;

    // ====== HEADER ========
}
.header__introd {
    background-image: url(../img/header/bg.png);
    height: 100vh;
    background-size: cover;
    background-position: 50%;
    padding: 55px calc(25vw - 200px);
    &__nav {
         display: flex;
    }
    &__slider {
        margin: 250px 0 200px;
        text-align: center;
        &__title {
            margin-bottom: 35px;
            @include btnStyleBold($btn_font_family_bold);
        }
        &__text {
            @include btnStyle($btn_font_family);
            font-size: 18px;
        }
    }
}
.label {
    margin-right: 80px;
}
.icons {
    margin-top: 10px;
    display: flex;
    &__net {
        margin-right: 20px;
    }
}
.navigaciya {
    margin-top: 25px;
    &__spicok {
        display: flex;
            &__item {
        margin-right: 60px;
        @include btnStyle($btn_font_family);
        }
    }    
}
.scroll {
    text-align: center;
}

// ======= MAIN =======
.main__part {
    // padding: 0 calc(25vw - 200px);
    &__wedoTitle,
    &__newsTitle,
    &__galleryTitle {
        margin: 100px 0 100px;
        text-align: center;
        @include titleBold($btn_font_family_bold);  
    }
    &__newsTitle {
        margin: 100px 0 50px;
        color: #fff;
    }
    &__galleryTitle {
        color: #3a4d63;
    }
}

// ====== WHAT WE DO =====

.wedo {
    &__trade {
        margin-bottom: 130px;
        display: flex;
        position: relative;
    }
    &__commerce {
        margin-bottom: 130px;
        display: flex;
        position: relative;
    }
    &__text {
        margin-left: 75px;
        &__heading {
            margin-top: 40px;
            @include btnStyleText($btn_font_family);
        }
        &__titleinside {
            margin-top:20px;
            @include titleBold ($btn_font_family_bold);
        }
        &__textinside {
            margin: 20px 0 20px 0;
            font-size: 16px;
        }
    }
}
.article {
    width: 100%;
    max-width: 460px;
}
.wedo__photoBlue {
    width: 40%;
    position: absolute;
    top: -70px;
    left: -120px;
    z-index: -1;
    &__blue {
        object-fit: contain;
        width: 100%;
    }
}   
.wedo__photoPic {
    width: 40%;
    flex-basis: 50%;
    &__picture {
        object-fit: contain;
        width: 100%;
    }  
} 
.build {
    margin-left: 145px;
} 
.wedo__photoP {
    width: 40%;
    position: absolute;
    top: -70px;
    right: -120px;
    z-index: -1;
    &__purple {
        object-fit: contain;
        width: 100%;
    }
}  
.btn {
    height: 50px;
    width: 180px;
}

// ========== NEWS ========
.news {
    background-image: url(../img/news/bgnews.png);
    height: auto;
    background-size: cover;
    background-position: 50%;
    padding: 25px calc(15vw - 100px) 55px;
    &__content {
        max-width: 310px;
        width: 100%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        &__photo {
            width: 100%;
            &__img {
                width: 100%;
                object-fit: contain;
            }
        }
          &__text{
          padding: 20px;
        }
    }
}
.slider {
    max-width: 1180px;
    width: 100%;
    padding: 0 60px;
    position: relative;
  }
.text {
    &__heading {
        padding-bottom: 20px;
        text-transform: uppercase;
        @include titleBold($btn_font_family_bold);
        font-size: 22px;
    }
    &__text {
        font-size: 18px;
        color: #7b818a;
    }
}
.person {
    margin-top: 25px;
    display: flex;
    &__info {
        margin: 5px 20px;
        display: block;
        @include btnStyleText($btn_font_family);
        &__name {
            font-size: 18px;
        }
        &__date {
            margin-top: 10px;
            font-size: 14px;
            color: #55b7ff;
        }
    }
}
//=====slider =====

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
 }
 // ======= stylling arrows =========
 .slider .slick-arrow {
     position: absolute;
     top: 50%;
     z-index: 10;
     font-size: 0;
     width: 30px;
     height: 50px;
    
 }
 .slider .slick-arrow.slick-prev {
    left: 0;
    background: url('img/news/arrows/left.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('img/svg/arrows/right.png') 0 0 / 100% no-repeat;
}
 .slick-dots {
     margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
} 
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
 }
 .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff; 
 } 
 .slick-disabled {
    opacity: 0.2;
}
