@import '_fonts.scss';
@import '_vars.scss';
@import '_mixin.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    width: 100%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;

    // ====== HEADER ========
}
.header__introd {
    background-image: url(../img/header/bg.png);
    height: 100vh;
    background-size: cover;
    background-position: 50%;
    padding: 55px calc(25vw - 200px);
    &__nav {
         display: flex;
    }
    &__slider {
        margin: 250px 0 200px;
        text-align: center;
        &__title {
            margin-bottom: 35px;
            @include btnStyleBold($btn_font_family_bold);
        }
        &__text {
            @include btnStyle($btn_font_family);
            font-size: 18px;
        }
    }
}
.label {
    margin-right: 80px;
}
.icons {
    margin-top: 10px;
    display: flex;
    &__net {
        margin-right: 20px;
    }
}
.navigaciya {
    margin-top: 25px;
    &__spicok {
        display: flex;
            &__item {
        margin-right: 60px;
        @include btnStyle($btn_font_family);
        }
    }    
}
.scroll {
    text-align: center;
}

// ======= MAIN =======
.main__part {
    padding: 0 calc(25vw - 200px);
}

// ====== WHAT WE DO =====

.wedo__title {
    margin: 100px 0 100px;
    text-align: center;
}
