@import '_fonts.scss';
@import '_vars.scss';
@import '_mixin.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', 'Josefin Sans', sans-serif;

    // ====== HEADER ========
}
.header__introd {

    background-image: url(../img/header/bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

    @keyframes animate {
        0% {
            background-image: url(../img/footer/bgFooter.png);
        }
        20% {
            background-image: url(../img/header/bg.png);
        }
        40% {
            background-image: url(../img/footer/bgFooter.png);
        }
        60% {
            background-image: url(../img/header/bg.png);
        }
        80% {
            background-image: url(../img/footer/bgFooter.png);
        }
        100% {
            background-image: url(../img/header/bg.png);
        }
        
    }

    padding: 55px calc(25vw - 200px);
    &__nav {

        @media screen and(max-width: 1600px) and (min-width: 1199.99px){
            padding: 0 calc(0 - 200px);
         }
         @media screen and(max-width: 1200px) and (min-width: 250px){
            padding: 0 calc(0 - 300px);
            flex-direction: column;
            text-align: center;
         }
    
         display: flex;
    }
    &__slider {
        @media screen and(max-width: 1200px) and (min-width: 250px){
            margin-bottom: 10px;
          }
        margin: 150px 0 100px;
        text-align: center;
        &__title {
            @media screen and(max-width: 968px) and (min-width: 744.98px){
                font-size: 40px;
        }
            @media screen and(max-width: 745px) and (min-width: 0px){
                font-size: 30px;
        }
            margin-bottom: 35px;
            @include btnStyleBold($btn_font_family_bold);
            

            transform: translate(0px, 120%);
            opacity: 0;
            transition: all 0.8s ease 0.0s;
        }
        &__text {
            @media screen and(max-width: 745px) and (min-width: 0px){
                display: none;
        }
           
            @include btnStyle($btn_font_family);
            font-size: 18px;
        }
    }
}
.header__introd__slider__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.label {
    margin-right: 80px;
}
.icons {
    @media screen and(max-width: 1200px) and (min-width: 250px){
        justify-content: center;
        margin-top: 25px;
    
     }
    margin-top: 10px;
    display: flex;
    &__net {
        margin-right: 20px;
    }
}
.navigaciya {
    margin-top: 25px;
    &__spicok {
        @media screen and(max-width: 1200px) and (min-width: 744.98px){
            justify-content: center;
            margin: 20px;
         }
        @media screen and(max-width: 745px) and (min-width: 0px){
            list-style-type: none;
         }
        
        display: flex;
            &__item {
                @media screen and(max-width: 768px) and (min-width: 250px){
                        font-size: 20px;
                }
                margin-right: 60px;
                @include btnStyle($btn_font_family);
        }
    }    
}
.scroll {
    @media screen and(max-width: 1200px) and (min-width: 767.98px){
        margin-bottom: 20px;
     }
    @media screen and(max-width: 768px) and (min-width: 0px){
       display: none;
     }
    text-align: center;
}
.iconClick:hover {
        cursor: pointer;
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
        transform: scale(1.5);
        transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
  }

//burger menu
.nav__burger {
    list-style-type: none;
    display: none;
  }
 
  @media screen and (max-width: 745px) {
    .menu {
      flex-direction: column;
      position: absolute;
      top: -300%;
      transition-duration: top 0.5s;
      &__list {
      width: 100%;
      padding: 42px 42px;
      text-align: center;
      color: #000;
      background-color: #a2afeb;
      box-shadow: -1px -1px 2px 0 #d8f8d8 ;
      }
    }

    .nav__burger-img {
        @media screen and(max-width: 610px) and (min-width: 425.99px){
            left: 150px;;
          }
        @media screen and(max-width: 426px) and (min-width: 0px){
            left: 50px;;
          }
      display: inline-block;
      width: 42px;
      height: 3px;
      position: relative;
      top: 500px;
      left: 250px;
      vertical-align: middle;
      border-radius: 5px;
      transform: translateY(-50%);
      background-color: #d8f8d8;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: -9px;
        width: 42px;
        height: 3px;
        border-radius: 5px;
        background-color: #d8f8d8;
      }
      &:after {
        top: 9px;
      }
    }  
    .nav__burger:checked ~ .menu {
        top: 340px;
        right: -25px;
        transition-duration: 0.5s;
    }
}   
.navigaciya__spicok__item {
    @media screen and (max-width: 745px) {
    width: 100%;
    padding: 22px 22px;
    text-align: center;
    color: #000;
    background-color: #a2afeb;
    box-shadow: -1px -1px 2px 0 #d8f8d8;
    }
}

// ======= MAIN =======
.main__part {
    // padding: 0 calc(25vw - 200px);
    &__wedoTitle,
    &__newsTitle,
    &__galleryTitle {
        @media screen and(max-width: 992px) and (min-width: 0px){
            font-size: 32px;
            margin: 10px 0 10px 0;
         }
        margin: 100px 0 100px;
        text-align: center;
        @include titleBold($btn_font_family_bold);  
    }
    &__newsTitle {
        margin: 100px 0 50px;
        color: #fff;
    }
    &__gallery {
        padding: 0 calc(25vw - 200px);
    }
    &__galleryTitle {
        color: #3a4d63;
    }
}

// ====== WHAT WE DO =====

.wedo {
    padding: 0 calc(25vw - 200px);
    display: flex;
    flex-direction: column;
    &__trade {
        @media screen and(max-width: 768px) and (min-width: 599.98px){
          margin-bottom: 20px;
         }
         @media screen and(max-width: 600px) and (min-width: 0px){
            display: block;
            margin-bottom: 0px;
         }
        margin-bottom: 130px;
        display: flex;
    }
    &__commerce {
        @media screen and(max-width: 768px) and (min-width: 0px){
            margin-bottom: 20px;
           }
           @media screen and(max-width: 600px) and (min-width: 0px){
            display: block;
           }
        margin-bottom: 130px;
        display: flex;
    }
    &__text {
        @media screen and(max-width: 600px) and (min-width: 0px){
            margin-bottom: 25px;
           }
        margin-left: 75px;
        &__heading {
            margin-top: 40px;
            @include btnStyleText($btn_font_family);
        }
        &__titleinside {
            @media screen and(max-width: 1200px) and (min-width: 574.98px){
                font-size: 28px;
             }
             @media screen and(max-width: 600px) and (min-width: 0px){
                display: none;
            }
            margin-top:20px;
            @include titleBold ($btn_font_family_bold);
        }
        &__textinside {
            @media screen and(max-width: 768px) and (min-width: 0px){
                display: none;
               }
            margin: 20px 0 20px 0;
            font-size: 16px;
            word-spacing: 2px;
        }
    }
}
// === picture We Do ====
.wedoPic__photoBlue {
    @media screen and(max-width: 1200px) and (min-width: 991.98px){
        left: -95px;
     }
    @media screen and(max-width: 992px) and (min-width: 0px){
        display: none;
     }
    position: relative;
    width: 90%;
    left: -150px;
    &__blue {
        position: absolute;
        object-fit: contain;
        width: 100%;
    }
}
.wedoPic__photoPic {
    @media screen and(max-width: 600px) and (min-width: 0px){
        width: 85%;
        margin: 0 auto;
     }
    width: 90%;
    position: relative;
    top: 60px;
    left: -25%;

    animation-name: foto;
    animation-duration: 10s; 
    animation-fill-mode: forwards;

    &__picture {
        object-fit: contain;
        width: 100%;
    }
}
@keyframes foto {
    0% {
        left: -150px;
    }
    100% {
        left: 100px;
    }
}


.wedoPicBot__photoP {
    @media screen and(max-width: 992px) and (min-width: 0px){
        display: none;
     }
    width: 90%;
    position: relative;
    right: -156px;
   
    &__purple {
        position: absolute;
        top: -50px;
        left: 50px;
        object-fit: contain;
        width: 100%;
    }
}
.wedoPicBot__photoPic {
    @media screen and(max-width: 600px) and (min-width: 0px){
        width: 85%;
        margin: 0 auto;
     }
    width: 90%;
    position: relative;
    z-index: 1;
    left: 35%;

    animation-name: fotoRight;
    animation-duration: 10s; 
    animation-fill-mode: forwards;

    &__picture {
        object-fit: contain;
        width: 100%;
    }
}

@keyframes fotoRight {
    0% {
        left: 185px;
    }
    100% {
        left: 0px;
    }
}

.article {
    @media screen and(max-width: 600px) and (min-width: 0px){
        margin-top: 15%;
        text-align: center;
     }
    width: 100%;
    max-width: 460px;
}

.btn {
    height: 50px;
    width: 180px;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
}

.btn::after {
    @include btnShine
   }
   .btn:hover::after, 
   .btn:focus::after {
      animation: sheen 1s both; 
     }
     @keyframes sheen {
      100% {
     transform: rotateZ(60deg) translate(1em, -9em);
     }
}   

// ========== NEWS ========
.news {
    background-image: url(../img/news/bgnews.png);
    height: auto;
    background-size: cover;
    background-position: 50%;
    padding: 25px calc(15vw - 100px) 55px;
    &__content {
        max-width: 310px;
        width: 100%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        &__photo {
            width: 100%;
            &__img {
                width: 100%;
                object-fit: contain;
            }
        }
          &__text{
          padding: 20px;
        }
    }
}
.slider {
    max-width: 1180px;
    width: 100%;
    padding: 0 60px;
    position: relative;
  }
.text {
    @media screen and(max-width: 640px) and (min-width: 0px){
        display: none;
     }
    &__heading {
        @media screen and(max-width: 1100px) and (min-width: 0px){
            font-size: 14px;
         }
        padding-bottom: 20px;
        text-transform: uppercase;
        @include titleBold($btn_font_family_bold);
        font-size: 22px;
    }
    &__text {
        @media screen and(max-width: 1100px) and (min-width: 0px){
            display: none;
         }
        font-size: 18px;
        color: #7b818a;
    }
}

.person {
    @media screen and(max-width: 768px) and (min-width: 0px){
        display: none;
     }
    margin-top: 25px;
    display: flex;
    &__photo {
        @media screen and(max-width: 992px) and (min-width: 0px){
            display: none;
         }
    }
    &__info {
        margin: 5px 20px;
        display: block;
        @include btnStyleText($btn_font_family);
        &__name {
            font-size: 18px;
        }
        &__date {
            margin-top: 10px;
            font-size: 14px;
            color: #55b7ff;
        }
    }
}
//=====slider =====

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
 }
 // ======= stylling arrows =========
 .slider .slick-arrow {
     position: absolute;
     top: 50%;
     z-index: 10;
     font-size: 0;
     width: 30px;
     height: 50px;
    
 }
 .slider .slick-arrow.slick-prev {
    left: 0;
    background: url('img/news/arrows/left.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('img/svg/arrows/right.png') 0 0 / 100% no-repeat;
}
 .slick-dots {
     margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
} 
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
 }
 .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff; 
 } 
 .slick-disabled {
    opacity: 0.2;
}

// ========== GALLERY =========

.gallery {
    @media screen and(max-width: 1200px) and (min-width: 0px){
        display: block;
     }
    margin-bottom: 60px;
    display: flex;
    &__imgRight {
        @media screen and(max-width: 1200px) and (min-width: 0px){
            margin: 0 auto;
         }
        width: 46%;
        height: auto;
        margin-right: 5px;
        display: flex;
        &__image {
            object-fit: contain;
            width: 98%;
        }
    }
    &__imgLeft {
        @media screen and(max-width: 1200px) and (min-width: 0px){
            margin: 0 auto;
            width: 40%;
         }
        width: 50%;
         &__pic {
        display: flex;
       }
    }
}
.pic__photo {
    margin-right: 5px;
    width: 45%;
    &__small {
        object-fit: contain;
        width: 100%;
    }
}
.pic1 {
    margin-top: 5px;
}
.button {
    @media screen and(max-width: 860px) and (min-width: 0px){
        margin-bottom: 15px;
     }
    margin-bottom: 140px;
    text-align: center;
}

// ====== FOOTER =====

.contacts {
    @media screen and(max-width: 992px) and (min-width: 0px){
      flex-direction: column;
     }
    padding: 250px calc(50vw - 200px);
    background-image: url(../img/footer/bgFooter.png);
    height: auto;
    background-size: cover;
    background-position: 50%;
    display: flex;
    position: relative;
    @include btnStyle($btn_font_family);
    &__text {
        margin-top: 35px;
        display: flex;
        &__length {
            min-width: 230px;
            width: 100%;
        }
    }
}
.bord {
    padding-left: 15px;
    border-left: 1px solid #fff;
}
.label {
    @media screen and(max-width: 992px) and (min-width: 0px){
        margin: 0 auto;
        text-align: center;
     }
}


// === maps =====

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


// ==== form ====

.decor {
    
    position: absolute;
    bottom: 70%;
    max-width: 600px;
    width: 50%;
    margin: 50px auto 0;
    background: linear-gradient(
        45deg, #805efe, #59b1fe) no-repeat;
    border-radius: 30px;
 }
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #59b1fe;
    border-radius: 20px;
 }
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #e1e7ec;
 }
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
    padding: 50px;
 }
 .form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .form-inner input[type="submit"] {
    margin-top: 30px;
    background: #805efe;
    border-bottom: 4px solid #59b1fe;
    color: white;
    font-size: 14px;
 }
 .form-inner textarea {
    resize: none;
 }
 .form-inner h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    @include titleBold($btn_font_family_bold);
    font-weight: 500;
    font-size: 24px;
    color: #5b07f7;
 }

 .container-form {
     display: flex;
 }
.host {
    margin-right: 10px;
}